@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this custom cursor style */
body {
  cursor: url('/cursor.svg'), auto;
}

/* Optional: You can also specify different cursors for different actions */
a, button, [role="button"] {
  cursor: url('/cursor.svg'), pointer;
}

body {
  @apply min-h-screen bg-background dark:bg-background-dark text-text-primary-light dark:text-text-primary-dark;
  transition: background-color 0.3s ease, color 0.3s ease;
}

a {
  @apply text-text-primary-light dark:text-text-primary-dark no-underline;
}

:root {
  --color-background: theme('colors.background.DEFAULT');
}

.dark {
  --color-background: theme('colors.gray.900');
}

.pointer-events-none {
  pointer-events: none;
}

.custom-cursor-area {
  cursor: url('/cursor.svg'), auto;
}

body {
  cursor: auto;
}

.secret-submenu {
  clip-path: polygon(
    0% 12px, 
    calc(50% - 12px) 12px, 
    50% 0%, 
    calc(50% + 12px) 12px, 
    100% 12px, 
    100% 100%, 
    0% 100%
  );
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.secret-submenu::before {
  content: '';
  position: absolute;
  top: -11px;
  left: 50%;
  width: 24px;
  height: 24px;
  background: inherit;
  transform: translateX(-50%) rotate(45deg);
  border-top-left-radius: 4px;
  z-index: -1;
}
